html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#wifi-symbol {
  display: none;
  display: block;
  display: inline-block;
  width: 64px;
  height: 64px;
  margin-right: 16px;
  margin-bottom: 6.4px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

#wifi-symbol .wifi-circle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 9.14286px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-color: #47A4A7;
  border-style: solid;
  border-width: 1em 1em 0 0;
  border-radius: 0 100% 0 0;
  opacity: 0;
  -webkit-animation: wifianimation 3s infinite;
  animation: wifianimation 3s infinite;
}

#wifi-symbol .wifi-circle.first {
  -webkit-animation-delay: 800ms;
  animation-delay: 800ms;
}

#wifi-symbol .wifi-circle.second {
  width: 5em;
  height: 5em;
  -webkit-animation-delay: 400ms;
  animation-delay: 400ms;
}

#wifi-symbol .wifi-circle.third {
  width: 3em;
  height: 3em;
}

#wifi-symbol .wifi-circle.fourth {
  width: 1em;
  height: 1em;
  opacity: 1;
  background-color: #47A4A7;
  -webkit-animation: none;
  animation: none;
}

@-webkit-keyframes wifianimation {
  0% {
    opacity: 0.4;
  }
  5% {
    opactiy: 1;
  }
  6% {
    opactiy: 0.1;
  }
  100% {
    opactiy: 0.1;
  }
}

html {
  background-color: #FAFAFA;
}

html * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
  color: #333;
}

html, body {
  height: 100%;
}

body {
  overflow: hidden;
}

body[data-section="intro"] #sections {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

body[data-section="intro"] #intro {
  -webkit-transform: perspective(1000px) translate3d(0, 0, 0) rotateX(0);
          transform: perspective(1000px) translate3d(0, 0, 0) rotateX(0);
}

body[data-section="welcome"] #sections {
  -webkit-transform: translateX(-25%);
          transform: translateX(-25%);
}

body[data-section="welcome"] #welcome {
  -webkit-transform: perspective(1000px) translate3d(0, 0, 0) rotateX(0);
          transform: perspective(1000px) translate3d(0, 0, 0) rotateX(0);
}

body[data-section="main"] #sections {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

body[data-section="main"] #main {
  -webkit-transform: perspective(1000px) translate3d(0, 0, 0) rotateX(0);
          transform: perspective(1000px) translate3d(0, 0, 0) rotateX(0);
}

body[data-section="main"] #main #reciept {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

body[data-section="details"] #sections {
  -webkit-transform: translateX(-75%);
          transform: translateX(-75%);
}

body[data-section="details"] #details {
  -webkit-transform: perspective(1000px) translate3d(0, 0, 0) rotateX(0);
          transform: perspective(1000px) translate3d(0, 0, 0) rotateX(0);
}

#sections {
  height: 100%;
  width: 400%;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  -webkit-transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 1);
          transition-timing-function: cubic-bezier(0.5, -0.5, 0.5, 1);
  -webkit-transform: translateX(0);
          transform: translateX(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.fullsize-area {
  width: 100%;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  -webkit-transform: perspective(1000px) translate3d(0, 0, -500px) rotateX(0);
          transform: perspective(1000px) translate3d(0, 0, -500px) rotateX(0);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.fullsize-area .icon {
  width: 32px;
  height: 32px;
}

.fullsize-area .icon.--huge {
  width: 384px;
  height: 384px;
}

.fullsize-area .icon.--big {
  width: 256px;
  height: 256px;
}

.fullsize-area h1 {
  font-size: 64px;
  font-family: "Questrial", sans-serif;
}

.space.--before {
  margin-top: 64px;
}

.space.--below {
  margin-bottom: 64px;
}

#visitor {
  font-weight: 700;
}

.paragraph {
  width: 100%;
  margin: 32px auto;
  line-height: 1.6rem;
  font-size: 1.2rem;
  text-align: left;
}

.paragraph:first-of-type {
  margin-top: 0;
}

.wrapper {
  max-width: 580px;
  margin: 16px auto;
}

.button {
  background-color: #65B696;
  color: #FEF1E8;
  padding: 8px 16px;
  border-radius: 6px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
  bottom: 0;
  -webkit-transition: all 180ms ease;
  transition: all 180ms ease;
  cursor: pointer;
}

.button:hover {
  background-color: #4b9d7d;
  bottom: 2px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

#intro {
  background-color: #EFEFEF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#intro #logo {
  width: 512px;
  height: 512px;
  display: block;
}

#welcome {
  background-color: #EFEFEF;
  text-align: center;
}

#main {
  background-color: #EFEFEF;
}

#main #reciept {
  background: linear-gradient(transparent 20px, white 0), linear-gradient(-45deg, white 33%, transparent 33%) 0 0, linear-gradient(45deg, white 33%, transparent 33%) 0 0;
  background-repeat: repeat-x;
  background-size: 1px 100%, 20px 20px, 20px 20px;
  -webkit-box-shadow: 0 18px 20px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 18px 20px 5px rgba(0, 0, 0, 0.25);
  padding: 30px 10px 10px 10px;
  min-height: 400px;
  width: 300px;
  position: absolute;
  left: 40px;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
}

#main #reciept .headline {
  margin-top: 20px;
  text-align: center;
  font-weight: 700;
  font-size: 24px;
  font-family: "Questrial", sans-serif;
}

#main #reciept .location {
  text-align: center;
  margin: 16px 0;
  line-height: 1.2rem;
  font-size: 0.9rem;
}

#main #reciept #products {
  margin: 32px 16px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#main #reciept #products .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin: 8px 0;
}

#main #reciept #products .product .name {
  margin-right: 8px;
}

#main #reciept #products .product .amount {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-style: italic;
}

#main #reciept .sum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 16px;
  border-top: 1px solid #CCC;
  padding-top: 16px;
  font-size: 24px;
}

#main #reciept .sum #total {
  font-weight: 700;
}

#details {
  background-color: #EFEFEF;
}

#wifi-symbol {
  float: left;
}
/*# sourceMappingURL=styles.css.map */